body {
  font-family: sans-serif;
}
h1 {
  font-size: 5em;
  padding: 0 20px;
  text-align: center;
}
h2 {
  font-size: 2.4em;
}
h3 {
  font-size: 3em;
}
small {
  font-size: 0.5em;
  vertical-align: super;
}
p {
  font-size: 0.9em;
}

a {
  color: #d4af37;
}
h2 a {
  text-decoration: none;
}

.temp {
  font-size: 0.9em;
}
.form-control {
  background: rgba(255, 255, 255, 0.2);
  border: none;
}
.fa-search {
  color: white;
}
.btn-light {
  background: rgba(255, 255, 255, 0.2);
  border: none;
}
.container {
  background: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(11, 132, 145) 91.1%
  );
  padding: 20px 30px 0;
  color: white;
}
.col-1 {
  padding: 0;
}
.top-right {
  text-align: right;
}
.sub-cont {
  background: rgba(255, 255, 255, 0.2);
  margin: 20px auto 10px;
  position: relative;
  bottom: 0;
}
.day-detail-1,
.day-detail-2 {
  text-align: center;
}
.day-detail-3 {
  text-align: right;
}
.forcast {
  text-align: center;
}

.credit {
  text-align: center;
}

::placeholder {
  color: white !important;
}
#fetch-location {
  color: #d4af37;
  background: none;
  border: none;
  transition: ease-in-out;
}
#fetch-location:hover {
  color: rgba(255, 255, 255, 0.2);
}
