body {
  font-family: sans-serif;
}

h2 {
  font-size: 2.4em;
}
h3 {
  font-size: 3em;
}
small {
  font-size: 0.5em;
  vertical-align: super;
}
p {
  font-size: 0.9em;
}

a {
  color: #ec6e4c;
}
h2 a {
  text-decoration: none;
}

img {
  display: block;
  margin: 0 auto;
}

.temp {
  font-size: 0.9em;
}
.form-control {
  background: rgba(255, 255, 255, 0.2);
  border: none;
}

.btn-light {
  background: rgba(255, 255, 255, 0.2);
  border: none;
}
.container {
  padding: 20px 30px 0;
}
#main-container {
  max-width: 800px;
}
.col-1 {
  padding: 0;
}
.top-right {
  text-align: right;
}
.sub-cont {
  background: rgba(255, 255, 255, 0.2);
  margin: 20px auto 10px;
  position: relative;
  bottom: 0;
}
.day-detail-1,
.day-detail-2,
.forcast,
.credit {
  text-align: center;
}
.day-detail-3 {
  text-align: right;
}

#fetch-location {
  color: #ec6e4c;
  background: none;
  border: none;
  transition: ease-in-out;
}
#fetch-location:hover {
  color: rgba(255, 255, 255, 0.2);
}

#weather-description,
#current-location {
  text-transform: capitalize;
}

#current-icon {
  padding-left: 30px;
  height: 130px;
  position: relative;
  top: -20px;
}
